*.docx
*.doc
/VM/ISO/debian-13.1.0-amd64-netinst.iso
/VM/ISO/SERVER_EVAL_x64FRE_fr-fr.iso
/VM/ISO/Windows.iso
/VM/ISO/win7_64_bit.iso
/VM/win7/Firefox Installer.exe
/VM/ISO/pfSense-CE-2.7.2-RELEASE-amd64.iso